* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility */
:root {
    --sptfy-bg-nav: #000000;
    --sptft-bg-main: #141922;
    --sptfy-light-grey: #a3a3a3;
    --sptfy-important: #adfe2f;
    --sptfy-footer: #282828;
    --sptfy-grey: #7b7e82;

}

#main-container {

    display: flex;

}

/* start nav */

#side-bar {
    background-color: var(--sptfy-bg-nav);
    padding: 10px;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;




    .logo-xs {
        width: 30px;
    }

    .logo-xl {
        display: none;
    }

    .menu {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 15px;



        a {

            color: white;
            text-decoration: none;


            img {
                max-width: 30px;
            }

            span {
                display: none;
            }
        }
    }

    .install {
        a {
            color: white;
            text-decoration: none;

            img {
                width: 13px;
            }

            span {
                display: none;
            }
        }
    }
}




/* START MEDIA QUERY */

@media screen and (min-width:639px) {
    #side-bar {


        .nav-up,
        .nav-bottom {
            width: 230px;
        }

        .menu {
            display: flex;


            a {
                display: flex;
                align-items: center;
                column-gap: 5px;

                span {
                    display: inline-block;
                    text-align: center;

                }

            }

        }

        .logo-xs {
            display: none;
        }

        .logo-xl {
            display: inline-block;
            width: 135px;

        }

    }
}