* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility */
:root {
    --sptfy-bg-nav: #000000;
    --sptft-bg-main: #141922;
    --sptfy-light-grey: #a3a3a3;
    --sptfy-important: #adfe2f;
    --sptfy-footer: #282828;
    --sptfy-grey: #7b7e82;
    --sptfy-navy: #080b12;
}

body {
    font-family: "Montserrat", sans-serif;
}

#main-container {

    display: flex;

}


a:hover {


    span {

        color: white;

    }

    span.add {
        background-color: white;
    }
}



/* start nav */

#side-bar {
    background-color: var(--sptfy-bg-nav);
    padding: 10px;
    height: calc(100vh - 80px);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a {
        color: var(--sptfy-grey);
        font-weight: 500;
        text-decoration: none;

    }





    .logo-xs {
        width: 30px;
    }

    .logo-xl {
        display: none;
    }


    .menu {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 15px;


        a {
            img {
                max-width: 30px;
            }

            span {
                display: none;
            }
        }
    }

    .install {
        a {
            color: white;
            text-decoration: none;

            img {
                width: 18px;
            }

            span {
                display: none;
            }
        }
    }

    .playlist {
        display: none;
    }



    .nav-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;

        hr {
            display: none;
        }

        .profile {

            .img-profile {
                width: 30px;
                height: 30px;
                background-color: var(--sptfy-grey);
                border-radius: 30px;
                text-align: center;


                img {
                    width: 25px;
                    height: 25px;
                }

            }

            .name-profile {
                display: none;
            }
        }
    }


}

#main {
    width: 100vw;

    .upgrade {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: var(--sptfy-navy);
        height: 80px;
        width: 100%;

        .button {
            color: white;
            border: 1px solid white;
            border-radius: 20px;
            padding: 10px 40px;

            &:hover {
                padding: 12px 42px;
            }
        }
    }

    .container {
        background-color: var(--sptft-bg-main);
        height: calc(100vh - 160px);
        overflow-y: auto;

        .filter {
            margin-top: 20px;
            display: flex;
            flex-wrap: wrap;
            row-gap: 30px;
            column-gap: 15px;
            padding: 30px;
            justify-content: center;
            text-transform: uppercase;
            font-size: 10px;


            a {
                text-decoration: none;
                color: var(--sptfy-light-grey)
            }
        }



        .row {
            h3 {
                color: white;
                padding-bottom: 30px;

            }

            .recently {
                padding: 0 20px;
                display: flex;
                flex-wrap: wrap;
                column-gap: 10px;




                .card {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    max-width: 180px;
                    row-gap: 10px;

                    img {
                        width: 100%;
                    }

                    h4 {
                        color: white;
                        padding: 10px;
                    }

                    h6 {
                        text-align: center;

                        color: var(--sptfy-grey)
                    }
                }
            }
        }
    }
}










#footer {
    width: 100vw;
    height: 80px;
    background-color: var(--sptfy-footer);

}






/* START MEDIA QUERY */

@media screen and (min-width: 639px) {
    #side-bar {


        .nav-up {

            .playlist {
                display: block;
                margin-top: 20px;
            }



            .menu {
                display: flex;


                a {
                    display: flex;
                    align-items: center;
                    column-gap: 5px;

                    span {
                        display: inline-block;
                        text-align: center;

                    }

                }

            }

            .logo-xs {
                display: none;
            }

            .logo-xl {
                display: inline-block;
                width: 135px;

            }

            .playlist {
                .create {
                    margin-top: 15px;

                    .add-play {
                        display: flex;
                        align-items: center;
                        column-gap: 5px;

                        &:hover {
                            .add {
                                background-color: white;
                            }
                        }
                    }


                    .add {
                        color: var(--sptfy-bg-nav);

                        font-size: 35px;
                        width: 38px;
                        padding: 0 10px;
                        background-color: var(--sptfy-light-grey);
                    }
                }

                ul {
                    margin-top: 15px;

                    li {
                        padding: 8px 0;

                        a:hover {
                            color: white
                        }
                    }
                }

            }



        }



        .nav-bottom {
            width: 230px;
            align-items: start;
            row-gap: 10px;

            hr {
                display: block;
                width: 90%;
                border: 0.5px solid var(--sptfy-light-grey);
            }

            .profile {

                display: flex;
                column-gap: 10px;
                align-items: center;

                .name-profile {
                    display: block;
                    font-weight: bold;
                }
            }

            .install {
                .download {
                    display: flex;
                    column-gap: 10px;

                    span {
                        display: inline-block;
                        color: var(--sptfy-grey);
                    }
                }
            }
        }



    }

}